<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Captioning</title>
    <style>
        .resized-image{
            width: 300ps;
            height: 200px;
        }
    </style>
</head>
<body>
    <h1>Image Captioning</h1>

    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="userfile" placeholder="your image...">
        <input type="submit">
    </form>

    {% if your_result %}
    <img src="{{your_result['image']}}" class="resized-image" alt="your image">
    <br>
    <h1>Genrated caption: <i>{{ your_result['caption'] }}</i> </h1>
    {% endif %}
</body>
</html>